<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sean.dabull">
    !-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.example.sean.dabull.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.example.sean.dabull.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive dataf message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Giving internet permission is critical -->
    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan">
            android:label="Conversations">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.sampleapp.MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostHubActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".MsgActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".PostMakeActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".CommentActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".RegActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".OtherProfileActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".main_frag"
            android:label="@string/title_activity_main_frag"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <receiver
            android:name="com.pushbots.google.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.example.sean.dabull" />
            </intent-filter>

        </receiver>
        <receiver android:name="com.pushbots.push.DefaultPushHandler" />
        <service android:name="com.pushbots.push.GCMIntentService" />
    </application>

</manifest>